<footer class="site-footer h-card">
  <data class="u-url" href="/"></data>

  <div class="wrapper">

    <h2 class="footer-heading"> Artificial intelligence in government: Concepts, standards, and a unified framework  </h2>

    <div class="footer-col-wrapper">

      <div class="footer-col footer-col-1">
          <p>A project carried out by: </p> 
          <a href="https://www.turing.ac.uk/" target="_blank"><img src="images/alan_turing_institute_logo.jpeg" width="220" height="110"></a>
      </div>
      
        <div class="footer-col footer-col-2">
        <ul style="list-style-type:none">
          <li>Find out more: </li>
          <li><a href="https://www.turing.ac.uk/research/research-programmes/public-policy" target="_blank">www.turing.ac.uk</a></li>
        </ul>
      </div>
    
       <div class="footer-col footer-col-3">
         <ul style="list-style-type:none">
          <p>This work was supported by Towards Turing 2.0 under the EPSRC Grant EP/W037211/1</p>
        <ul>
      </div>

  </div>

</footer>
