<html>
 <head>
    <style>
    {
        box-sizing: border-box;
    }
    /* Set additional styling options for the columns */
    .column {
    float: left;
    }

    /* Set width length for the left, right and middle columns */
    .left {
    width: 3%;
    }

    .middle {
    width: 18.5%;
    height: 30px;
    }
    
    .right {
    width: 78.5%;
    }

    .row:after {
    content: "";
    display: table;
    clear: both;
    }
    </style>
 </head>
 <body>
    <div class="row">
        <div class="column left" >
            <h2>  </h2>
            <p></p>
        </div>
        <div class="column middle" >
          <br>
          <a href="https://www.turing.ac.uk/" target="_blank"><img src="images/alan_turing_institute_logo.jpeg" width="205" height="100"></a>
        </div>
        <div class="column right" >
          <br>
            <h2> Artificial intelligence in government: Concepts, standards, and a unified framework </h2>
            <p> A project carried out by the <a href="https://www.turing.ac.uk/research/research-programmes/public-policy">Public Policy Programme</a> at the Alan Turing Institute</p>
        </div>
    </div>
 </body>
</html>
